<h1 class="my-3"><%= t('views.users.edit.edit_profile') %></h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to t('views.users.edit.links.show_user'), @user %>
</div>

<p class="buffer-top">
  <%= link_to t('views.users.edit.links.change_password'), edit_user_registration_path %>
</p>
