<h1 class="my-3"><%= I18n.t('views.events.edit.editing') %></h1>

<%= render 'form' %>

<%= link_to I18n.t('views.events.edit.links.show_event'), @event %> |
<%= link_to I18n.t('views.events.edit.links.back_to_events'), events_path %>
